<form  [formGroup]="editTaskForm" (ngSubmit)="onClick()">

  <div class ="form-control">
    <label for ="text2">Task</label>
    <input type="text2" formControlName="text2" id="text2"  placeholder="Add Task"/>
  </div>


  <div class ="form-control">
    <label for ="day2">Day</label>
    <input (click)="picker.open()" formControlName="day2" id="day2"  placeholder="Choose a day"  [matDatepicker]="picker">
    <mat-datepicker color="warn" #picker></mat-datepicker>
  </div>


  <div class ="form-control">
    <label for ="time2">Time</label>
    <input formControlName="time2" id="time2"  placeholder="Choose time" aria-label="24hr format" [ngxTimepicker]="fullTime" [format]="24"  readonly>
    <ngx-material-timepicker #fullTime></ngx-material-timepicker>
  </div>


  <div class ="form-control form-control-check">
    <label for ="reminder2">Set Reminder</label>
    <input type="checkbox" formControlName="reminder2" id="reminder2"/>
  </div>

  <button  mat-dialog-close class="cancel-button">Cancel</button>
  <button type="submit"  class="btn btn-block">Update Task</button>

</form>
