<form  [formGroup]="editTaskForm" (ngSubmit)="onUpdate()">

  <div class ="form-control">
    <label for ="text">Task</label>
    <input matInput type="text" formControlName="text" id="text" placeholder="Add Task" value="Test" />
  </div>


  <div class ="form-control">
    <label for ="day">Day</label>
    <input (click)="picker.open()" formControlName="day" id="day"  placeholder="Choose a day" [matDatepicker]="picker">
    <mat-datepicker color="warn" #picker ></mat-datepicker>
  </div>


  <div class ="form-control">
    <label for ="time">Time</label>
    <input formControlName="time" id="time"  placeholder="Choose time" aria-label="24hr format" [ngxTimepicker]="fullTime" [format]="24" readonly>
    <ngx-material-timepicker #fullTime [theme]="darkTimePicker" ></ngx-material-timepicker>
  </div>


  <div class ="form-control form-control-check">
    <label for ="reminder">Set Reminder</label>
    <input type="checkbox" formControlName="reminder" id="reminder"/>
  </div>

  <button  mat-dialog-close class="cancel-button">Cancel</button>
  <button type="submit"  class="btn btn-block">Update Task</button>

</form>
