@import  "@angular/material/prebuilt-themes/purple-green.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body /*Dark Mode*/ {
  background-color: #0f0f0f;
  --task-color: #3b3b3b;
  color: #fffcfc;
  --btn-color: #ff0000;
  --input-color:black;
  --border-color:#ff0000;
  --container-color:#ff0000;
  --font-color:white;
  --reminder-color:#ff0000;
  --btn-save-task:#ff0000;
  --delete-btn:#ff0000;
  --add-btn:#ff0000;
  --calender-color: #3b3b3b;
  --cancel-btn-background: #0f0f0f;
  --dialog-background: #3b3b3b;
  --dialog-font-color: white;
}

body.light-mode {
  background-color: #ffffff;
  color: #000000;
  --task-color: #f4f4f4;
  --btn-color: lightgreen;
  --input-color:white;
  --border-color:lightgreen;
  --container-color: lightgreen;
  --font-color:black;
  --reminder-color: lightgreen;
  --btn-save-task: lightgreen;
  --delete-btn:lightgreen;
  --add-btn:lightgreen;
  --calender-color: lightgreen;
  --cancel-btn-background: #ffffff;
  --dialog-background: #f4f4f4;
  --dialog-font-color: black;
}

.mat-calendar {
  background-color: var(--calender-color);
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid var(--container-color);
  padding: 30px;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  background: var(--btn-color);
  color: black;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  background-color: var(--input-color);
  border-color: var(--border-color);
  color: var(--font-color);
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}



.cancel-button {
  display: inline-block;
  background: var(--cancel-btn-background);
  color: var(--btn-color);
  border-color: var(--btn-color);
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  width: 100%;
}

.mat-dialog-container {
  background: var(--dialog-background);
  color: var(--dialog-font-color);
}

.timepicker-overlay {
  z-index: 10000000 !important;
}

.timepicker-backdrop-overlay {
  z-index: 10000000 !important;
}


